<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>作战值班</title>
    <link rel="icon" href="<%= context.publicPath %>favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="<%= context.publicPath %>js/gmap/gmap.css"/>
    <!-- <link rel="stylesheet" href="<%= context.publicPath %>replace.css"/> -->
    <link rel="stylesheet" href="<%= context.publicPath %>plot/DrawHelper.css"/>
    <link rel="stylesheet" href="<%= context.publicPath %>iconfont/iconfont.css"/>
    <script src="<%= context.publicPath %>js/gmap/gmap.js"></script>
    <script src="<%= context.publicPath %>plot/H5DrawSymbol3.4.3.min.js"></script>
    <script src="<%= context.publicPath %>plot/lib/include-lib2.js?time=20180905" libpath="<%= context.publicPath %>plot/lib/" include="jquery,layer"></script>
    <style>
      .hide {
        visibility: hidden;
      }
    </style>
  </head>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
  </body>
</html>
